<div class="d-flex flex-column gap-2">
  <%= link_to "Já tem uma conta? Faça login", new_session_path(resource_name), class: "btn btn-outline-primary" %>
  <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "btn btn-link" %>
</div>